# Ignore data files, but not DVC metafiles
/data/*
!/data/*.dvc

# Ignore Python cache files
*.pyc
__pycache__/

# Ignore DVC temporary files and directories
.dvc/cache
.dvc/plots
.dvc/tmp

# Ignore pytest cache
.pytest_cache/
